img
img_reoriented
input

rs_data

env

output
out-features

all_subjects.nii.gz
corrupted_files.txt
dHCP_groupICA_masked.npy

mask.nii.gz
mask1.nii.gz
mask_preprocessed.nii.gz

masks/mask_ga36.nii.gz
masks/mask_ga37.nii.gz
masks/mask_ga38.nii.gz
masks/mask_ga39.nii.gz
masks/mask_ga40.nii.gz
masks/mask_ga41.nii.gz
masks/mask_ga42.nii.gz
masks/mask_ga43.nii.gz
masks/mask_ga44.nii.gz

t1-templates/template_t1_ga36.nii.gz
t1-templates/template_t1_ga37.nii.gz
t1-templates/template_t1_ga38.nii.gz
t1-templates/template_t1_ga39.nii.gz
t1-templates/template_t1_ga40.nii.gz
t1-templates/template_t1_ga41.nii.gz
t1-templates/template_t1_ga42.nii.gz
t1-templates/template_t1_ga43.nii.gz
t1-templates/template_t1_ga44.nii.gz