img
img_reoriented
input

rs_data

env

output
out-features

all_subjects.nii.gz
corrupted_files.txt
dHCP_groupICA_masked.npy

mask.nii.gz
mask1.nii.gz
mask_preprocessed.nii.gz

masks/mask_ga_36.nii.gz
masks/mask_ga_37.nii.gz
masks/mask_ga_38.nii.gz
masks/mask_ga_39.nii.gz
masks/mask_ga_40.nii.gz
masks/mask_ga_41.nii.gz
masks/mask_ga_42.nii.gz
masks/mask_ga_43.nii.gz
masks/mask_ga_44.nii.gz

t1-templates/template_t1_ga_36.nii.gz
t1-templates/template_t1_ga_37.nii.gz
t1-templates/template_t1_ga_38.nii.gz
t1-templates/template_t1_ga_39.nii.gz
t1-templates/template_t1_ga_40.nii.gz
t1-templates/template_t1_ga_41.nii.gz
t1-templates/template_t1_ga_42.nii.gz
t1-templates/template_t1_ga_43.nii.gz
t1-templates/template_t1_ga_44.nii.gz