img
img_reoriented
input
input-test

rs_data

env

output
out-features

all_subjects.nii.gz
corrupted_files.txt
dHCP_groupICA_masked.npy

mask.nii.gz
mask1.nii.gz
mask_preprocessed.nii.gz

metadata/mask_ga_40.nii.gz

metadata/ica_masks

__pycache__